Gemfile
Gemfile.*
builds/*
fastlane/*
**/~$**.docx
**/*.iml
*.iml
**/build
*/bin/
app/rocoofix/*
bin/*
gen/*
proguard/*
.settings/*
.idea/*
.gradle/*
gradle/*
projectFilesBackup/*

lint.xml
**/lint.xml
auto.prop
import-summary.txt
gradlew
gradlew.bat
local.properties

*/DS_Store
DS_Store
res/drawable-hdpi/.DS_Store
captures/*
AndroidManifest*
*.jar

